<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src=""></script>
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class = "jumbotron">
        <form th:object="${webtoonSearch}" class="flex-column" method="post" action="">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class = "form-group mx-sm-1 mb-2" role="group" aria-label="First group" style="display: flex; flex-direction: row; justify-content: space-between; width:100%">
                    <div class="badge badge-primary text-wrap" style="width: 6rem; align-items: center;">
                        요일
                    </div>
                    <button th:if="${dayOfWeek != 1}" class="btn btn-secondary" type="button" onclick="location.href='/1'">월</button>
                    <button th:if="${dayOfWeek == 1}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/1'">월</button>
                    <button th:if="${dayOfWeek != 2}" class="btn btn-secondary" type="button" onclick="location.href='/2'">화</button>
                    <button th:if="${dayOfWeek == 2}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/2'">화</button>
                    <button th:if="${dayOfWeek != 3}" class="btn btn-secondary" type="button" onclick="location.href='/3'">수</button>
                    <button th:if="${dayOfWeek == 3}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/3'">수</button>
                    <button th:if="${dayOfWeek != 4}" class="btn btn-secondary" type="button" onclick="location.href='/4'">목</button>
                    <button th:if="${dayOfWeek == 4}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/4'">목</button>
                    <button th:if="${dayOfWeek != 5}" class="btn btn-secondary" type="button" onclick="location.href='/5'">금</button>
                    <button th:if="${dayOfWeek == 5}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/5'">금</button>
                    <button th:if="${dayOfWeek != 6}" class="btn btn-secondary" type="button" onclick="location.href='/6'">토</button>
                    <button th:if="${dayOfWeek == 6}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/6'">토</button>
                    <button th:if="${dayOfWeek != 7}" class="btn btn-secondary" type="button" onclick="location.href='/7'">일</button>
                    <button th:if="${dayOfWeek == 7}" class="btn btn-secondary btn-danger" type="button" onclick="location.href='/7'">일</button>
                </div>
            </div>
            <div class="form-group mx-sm-1 mb-2" style="display: flex; flex-direction: row; justify-content: space-between;">
                <div class="badge badge-primary text-wrap" style="width: 6rem;">
                    태그:
                </div>
                <div th:each="tag : ${tags}" class="form-check" style="width: 6rem; background-color: #007bff;">
                    <input type="checkbox" th:field="*{tags}" th:value="${tag.name}" class="form-check-input">
                    <label th:for="${#ids.prev('tags')}" th:text="${tag.name}"  class="form-check-label" style="color: white;"></label>
                </div>
            </div>
            <div class="flex-row">
                <input type="text" class="form-text" th:field="*{keyword}">
                <button type="submit" class="btn btn-primary mb-2" name="submit">검색</button>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>썸네일</th>
            <th>제목</th>
            <th>작가</th>
            <th>링크</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="webtoon: ${webtoons}">
            <td><img th:src="${webtoon.thumbnailUrl}"/></td>
            <td th:text="${webtoon.title}"></td>
            <td th:text="${webtoon.writer}"></td>
            <td th:text="${webtoon.url}"></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
